@tailwind base;
@tailwind components;
@tailwind utilities;

.popularImage {
  transition: transform 0.3s ease;
}

.popularImage:hover .arrowDiv {
  display: flex;
  transition: display 0.3s ease;
}

.before-after-slider__first-photo-container img,
.before-after-slider__second-photo-container img {
  object-fit: cover;
  height: 400px !important;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}

.imgsDiv:hover .nextBtn,
.imgsDiv:hover .prevBtn,
.imgsDiv:hover .heartBtn {
  display: block;
  transition: display 0.3s ease;
}
